<!--RIDHO MARHABAN-->
<html>
<head>
	<title>administrasi_keuangan</title>
	<link rel="stylesheet" href="{{  url_for('static', filename='insert_mahasiswa.css')}}" type="text/css">
</head>
<body>
	<div class="container">
	<div class="main">
	<h2>DATA MAHASISWA</h2>
	<form action="{{ url_for('insert') }}" method="post">
		<label>id_account   : </label>
		<input type="int" name="id_account" class="form_insert" placeholder="id" size="50" maxlength="50" /><br>
		<label>nim   : </label>
		<input type="int" name="nim" class="form_insert" placeholder="nim" size="50" maxlength="50" /><br>
		<label>nama   : </label>
		<input type="text" name="nama" class="form_insert" placeholder="nama" size="50" maxlength="50" /><br>
		<label>alamat   : </label>
		<input type="text" name="alamat" class="form_insert" placeholder="alamat" size="50" maxlength="50" /><br>
		<label>tempat_lahir   : </label>
		<input type="text" name="tempat_lahir" class="form_insert" placeholder="tempat_lahir" size="50" maxlength="50" /><br>
		<label>tgl_lahir   : </label>
		<input type="text" name="tgl_lahir" class="form_insert" placeholder="tgl_lahir" size="50" maxlength="50" /><br>
		<label>jenis_kelamin   : </label>
		<input type="text" name="jenis_kelamin" class="form_insert" placeholder="jenis_kelamin" size="50" maxlength="50" /><br>
		<label>agama   : </label>
		<input type="text" name="agama" class="form_insert" placeholder="agama" size="50" maxlength="50" /><br>
		<label>prodi   : </label>
		<input type="text" name="prodi" class="form_insert" placeholder="prodi" size="50" maxlength="50" /><br>
		<label>fakultas   : </label>
		<input type="text" name="fakultas" class="form_insert" placeholder="fakultas" size="50" maxlength="50" /><br>
		<label>semester   : </label>
		<input type="int" name="semester" class="form_insert" placeholder="semester" size="50" maxlength="50" /><br>
		<label>angkatan   : </label>
		<input type="int" name="angkatan" class="form_insert" placeholder="angkatan" size="50" maxlength="50" /><br>
		<p><input type="submit" value="Simpan"></p>
	</form>
	</div>
	</div>
</body>
</html>