<html>
<head>
	<title>administrasi_keuangan</title>
	<link rel="stylesheet"
		href="{{ url_for('static',filename='tiwi.css')}}"
		type="text/css">
</head>
<body>
	<h2>Pembayaran</h2>
	<form action="{{ url_for('insert_pay') }}" method="post">
		tanggal: <br>
		<input type="date" name="tanggal" size="50"
			maxlength="50" /><br>
		nim: <br>
		<input type="int" name="nim" size="50"
			maxlength="50" /><br>
		nama: <br>
		<input type="text" name="nama" size="50"
			maxlength="50" /><br>
		prodi: <br>
		<input type="text" name="prodi" size="50"
			maxlength="50" /><br>
		semester: <br>
		<input type="int" name="semester" size="50"
			maxlength="50" /><br>
		id_biaya: <br>
		<input type="int" name="id_biaya" size="50"
			maxlength="50" /><br>
		jml_pembayaran: <br>
		<input type="int" name="jml_pembayaran" size="50"
			maxlength="50" /><br>
		jenis_pembayaran: <br>
		<input type="text" name="jenis_pembayaran" size="50"
			maxlength="50" /><br>
		<p><input type="submit" value="Simpan"></p>
	</form>
</body>
</html>