<!--RIDHO MARHABAN-->
<html>
<head>
    <title>Jadwal Kuliah</title>
    <link rel="stylesheet" href="/static/menutest.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='mahasiswa.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/images/icons/unjani.ico"/>

</head>
<body>
        <div class="wrapper">
                <div id="side" class="sidebar">
                  <div class="bg_shadow"></div>
                    <div class="sidebar__inner">
                       <div class="close">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="profile_info">
                        <div class="profile_img">
                          <img src="/static/images/icons/unjani.png" alt="profile_img">
                        </div>
                        <div class="profile_data">
                            <p class="name">UNJANI</p>  
                            <p class="role">administrator</p>
                            <div class="btn" ><a href="{{ url_for('logout') }}">Logout</a></div>
                        </div>
                    </div>
                    <ul class="siderbar_menu">
                      <li><a href="{{ url_for('index') }}">
                        <div class="icon"><i class="fas fa-home"></i></div>
                          <div class="title">Home</div>
                          </a></li>  
                      <li><a href="{{ url_for('Admin') }}" class="active">
                          <div class="icon"><i class="fas fa-newspaper"></i></div>
                          <div class="title">Mahasiswa</div>
                          </a></li>  
                      <li><a href="{{ url_for('Detail') }}">
                          <div class="icon"><i class="fas fa-money-bill-alt"></i></div>
                          <div class="title">Pembayaran</div>
                          </a></li>
                      <li><a href="{{ url_for('accManage') }}">
                          <div class="icon"><i class="fas fa-user"></i></div>
                          <div class="title">Akun</div>
                          </a></li>   
                    </ul>
                  </div>
                </div>
                <div class="main_container">
                  <div class="top_navbar">
                      <div class="hamburger">
                          <div class="hamburger__inner">
                              <i class="fas fa-bars"></i>  
                          </div>  
                      </div>
                     <ul class="menu">
                        <li><a href="#"  class="active">Tabel</a></li>
                     </ul>
                  </div>
                  
                  <div class="container">
                    <div class="item">
                            <table class="content-table">
                                    <thead>
                                      <tr>
                                        <th>Nim</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Tempat Lahir</th>
                                        <th>Tanggal Lahir</th>
                                        <th>Jenis Kelamin</th>
                                        <th>Agama</th>
                                        <th>Prodi</th>
                                        <th>Fakultas</th>
                                        <th>Semester</th>
                                        <th>Angkatan</th>
                                        <th></th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for baris in container %}
                                        <tr>
                                            <td>{{ baris[1] }}</td>
                                            <td>{{ baris[2] }}</td>
                                            <td>{{ baris[3] }}</td>
                                            <td>{{ baris[4] }}</td>
                                            <td>{{ baris[5] }}</td>
                                            <td>{{ baris[6] }}</td>
                                            <td>{{ baris[7] }}</td>
                                            <td>{{ baris[8] }}</td>
                                            <td>{{ baris[9] }}</td>
                                            <td>{{ baris[10] }}</td>
                                            <td>{{ baris[11] }}</td>
                                            <td><a href="{{ url_for('update', id_account=baris[0]) }}"><i id="edit" class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 15px;"></i></a></td>
                                            <td><a href="{{ url_for('delete', id_account=baris[0]) }}"><i id='hapus' class="fas fa-trash-alt"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                        <p><a href="{{ url_for('insert') }}"><i class="fas fa-plus"></i></a></p>
                    </div>
                  </div>
                  
                </div>
            </div>

</body>

</html>

<script type="text/javascript" src="/static/menutest.js"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

